name: Deploy Static HTML

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Pages
      uses: actions/configure-pages@v3

    - name: Upload static site
      uses: actions/upload-pages-artifact@v2
      with:
        path: docs  # This tells GitHub to host the /docs folder

    - name: Deploy to GitHub Pages
      id: deploy
      uses: actions/deploy-pages@v3
